@tailwind base;
@tailwind components;
@tailwind utilities;
.active{
    background-color: #2cb0ff;
    color:white;
  }
  .link{
    display: block;
    padding: 16px;
    border-radius: 32px;
    text-decoration: none;
  }
  .link li{
    list-style-type: none;
    font-weight: bold;
 
  }
 
.border-animating{
  background: linear-gradient(to right, #2cb0ff,purple);
  background-size: 300%;
  animation: gradient-animation 4s infinite;
}
.scale-card{
  animation:scaling 1s forwards;
}
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes scaling{
    0%{
      scale: 0;
    }
    100%{
      scale: 1;
    }
  }
  @keyframes moveFromRight{
    0%{
      transform: translateX(200px);
    }
    100%{
      transform: translateX(0px);

    }
  }
  @keyframes moveFromLeft{
    0%{
      transform: translateX(-200px);
    }
    100%{
      transform: translateX(0px);

    }
  }
  .project-card:nth-of-type(odd){
   
    animation:moveFromRight 1s forwards ease-in-out;

  }
  .project-card:nth-of-type(even){
   
    animation:moveFromLeft 1s forwards ease-in-out;

  }